[defaults]
inventory = inventory/hosts.yml
roles_path = roles
collections_paths = ./collections
vault_password_file = .vault_password  # Niemals in Git committen!

[ssh_connection]
pipelining = true

[diff]
always = true
