[defaults]
inventory = inventory/hosts.yml
roles_path = roles
collections_paths = /home/user/.ansible/collections:./collections
#vault_password_file = .vault_password

[ssh_connection]
pipelining = true

[diff]
always = true
